*{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body{
    border: none;
    outline: none;
    background-color: #1a202c;
    scroll-behavior: smooth;
    /* cursor: pointer; */
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
} 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}